
#navBar {
    position: fixed;
    width: 85%;
    background-color: #0B0B0B;
    display: flex;
    background-size: cover;
    flex-direction: row;
    margin: 30px 7%;
    z-index: 10;
  }
  #navigation {
    color: rgb(237, 237, 237);
    display: flex;
    width: 30%;
    margin-left: 10px;
    align-items: center;
    justify-content: space-evenly;
    font-family: karla;
  }
  .lead2 {
      font-size: xx-large;
      margin-top: 40px;
      
  }
  .lead {
      max-width: 500px;
      font-weight: lighter;
  }
  p {
      font-size 14px;
      margin-top: 0px;
  }
  .heroCopy h2 {
      margin-top: 0px;
      font-size: 25px;
      font-style: italic;
      color: #A5A5A5;
  }
  .sectionHeading {
      font-size: 40px;
  }
  .sectionHeading2 {
      font-size: 25px;
      font-style: italic;
      color: #A5A5A5;
  }
  }
  .highlight {
    color: #FF6200;
    font-weight: 700;
  }
.left, .right {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .left {
          padding-left: 100px;
      }
      .right {
          padding-right: 600px;
      }
      .icons {
        display: flex;
        margin-right: 30px;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
      }
      .icons img {
          width: 16px;
        margin: 15px;
        cursor: pointer;
      }
      
.nav a {
    color: white;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
    .flexItem {
        display: flex;
        margin-top: 100px;
        margin-left: 71px;
        padding: 30px;
        height: 550px;
       
      }
.heroContainer {
    background-image: url(../images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.container-fluid {
    width: 93.3%;
    padding: 60px;
    margin: 41px;
}
.heroCopy {
    margin-top: 125px;
    margin-left: 40px;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: left;
    font-family: karla;
}
.emailContain {
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  .btn {
      background-color: #82B482;
      color: black;
      text-align: center;
      border: none;
      border-radius: 25px;
      width: 200px;
      height: 35px;
      margin-top: 28px;
;
  }
  }
  .card {
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .cardContainer {
      margin-top: 50px;
      margin-bottom: 35px;
  }
  .card-title {
      font-size: 28px;
  }
.other {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}